*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

*::after{
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  background-color:#1c1c1e !important;
  width:fit-content;

  letter-spacing: 2px;

  padding-bottom: 10px;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 0 !important;
  font-size: 1.5rem;

  text-align: right;
  // vertical-align: center;
  



}
.nav-item  {
  color: white;

}

#about-dropdown{
  color: white;
}

#about-dropdown:hover{
  color:#029cd7;
}
  

.nav-dropdown-text a{
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.nav-dropdown-text:hover{
  color:#029cd7;
}

.me-auto{
  justify-content: center;
  padding-bottom: 10px;


}

.nav-link:hover{
  color: #029cd7;
}




